@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0 !important;
  top: 0 !important;
  position: static !important;
}

/* google translate banner */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body > .skiptranslate, .goog-logo-link, .gskiptranslate, .goog-te-gadget span, .goog-te-banner-frame, #goog-gt-tt, .goog-te-balloon-frame, div#goog-gt- {
    display: none !important;
    background-color: whitesmoke;
}

.goog-te-gadget:not(select) {
  font-size: 0px;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

#google_translate_element select {
    color: skyblue;
    background-color: whitesmoke;
    font-weight: bold;
    min-width: 100px;
}

#google_translate_element {
  background: whitesmoke !important;
}

#google_translate_element select:focus, #google_translate_element select:hover {
    border: 0px !important;
    outline: none !important;
}

#google_translate_element select .goog-te-combo{
  border: 0px !important;
}

#google_translate_element select option:focus, 
#google_translate_element select option:hover {
  border: 0px !important;
  background-color: skyblue;
  outline: none !important;
}